// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

// btn-outline-primary

.btn-outline-primary {
    color: $dark-black;
    border-color: $dark-black;
    padding: 4px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 2px;
}

.btn-outline-primary:hover {
    background-color: $light-black;
    border-color: $light-black;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
    box-shadow: 0 0 0 .2rem $light-black;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: $dark-black;
    background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
    background-color: $dark-black;
    border-color: $dark-black;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem $dark-black;
}

//btn-primary

.btn-primary {
    color: $dark-black;
    background-color: $primary;
    border-color: $primary;
    border-radius: 0px;
}

.btn-primary:hover {
    color: $dark-black;
    background-color: $primary;
    border-color: $primary-dark;
}

.btn-primary.focus,
.btn-primary:focus {
    color: $dark-black;
    box-shadow: none;
    border-color: $primary-dark;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: $primary;
    background-color: black;
    border: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: $dark-black;
    background-color: $primary;
    border-color: $primary-dark;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
    border-color: $primary-dark;
}

.btn-primary:active {
    color: $dark-black;
    background-color: $primary;
    border-color: $primary-dark;
}

//btn-secondary

.btn-secondary {
    border-radius: 0px;
}

.btn-secondary.focus,
.btn-secondary:focus {
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

//btn-danger

.btn-danger {
    background-color: $danger;
    border-color: $danger;
    border-radius: 0px;
}

.btn-danger:hover {
    background-color: $danger;
    border-color: $danger-dark;
}

.btn-danger.focus,
.btn-danger:focus {
    box-shadow: none;
    border-color: $danger-dark;
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show>.btn-danger.dropdown-toggle {
    background-color: $danger;
    border-color: $danger-dark;
}

.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show>.btn-danger.dropdown-toggle:focus {
    box-shadow: none;
    border-color: $danger-dark;
}

.btn-danger:active {
    background-color: $danger;
    border-color: $danger-dark;
}

/* Ripple effect */
.btn-primary.ripple {
    color: $dark-black;
    background-position: center;
    transition: background 0.8s;
    border: none;
}

.btn-primary.ripple:hover {
    color: $dark-black;
    background: $primary radial-gradient(circle, transparent 1%, $primary-dark 1%) center/15000%;
    border: none;
}

.btn-primary.ripple:active {
    color: $dark-black;
    background-size: 100%;
    transition: background 0s;
    border: none;
}

.btn-danger.ripple {
    background-position: center;
    transition: background 0.8s;
    border: none;
}

.btn-danger.ripple:hover {
    background: $danger radial-gradient(circle, transparent 1%, $danger-dark 1%) center/15000%;
    border: none;
}

.btn-danger.ripple:active {
    background-size: 100%;
    transition: background 0s;
    border: none;
}