.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: $primary;
    background-color: #fff;
    border: 1px solid $secondary !important;
}

.page-item.active .page-link {
    z-index: 1;
    color: $dark-black !important;
    background-color: $primary !important;
    border-color: $primary-dark !important;
    box-shadow: $primary !important;
}

.page-link:hover {
    color: $dark-black !important;
    text-decoration: none !important;
    background-color: $secondary !important;
    border-color: $primary !important;
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem $primary-shadow !important;
}

.page-item.disabled .page-link {
    color: $secondary !important;
    pointer-events: none;
    cursor: auto;
    background-color: #fff !important;
    border-color: #dee2e6 !important;
}

.page-item:first-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}