// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
#sl-jumbo-cont {
    min-width: 100%;
    height: 40vw;
    background-color: $primary;
    z-index: -2;
    padding: 0px;

    #sl-jumbo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        clip-path: polygon(26% 0%, 100% 0, 100% 74%, 74% 100%, 0 100%, 0 26%);
        background-color: $dark-black;
        background: url('../src/images/computers.png') no-repeat fixed center;
        background-size: cover;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
}

.web-name {
    font-size: 80px;
    font-size: 6vw;
}

#jumbo-text {
    font-size: 24px;
    font-size: 2vw;
    margin-left: auto;
    margin-right: auto;
}

.categories {
    background: $light-grey;
    display: block;
    text-align: center;

    .category-card {
        padding: 80px;
        display: inline-block;
        color: white;
        margin: auto;
    }

    .category-card:hover {
        opacity: .9;
        cursor: pointer;
    }

    #programmming-card {
        background: url('../src/images/computers.png') no-repeat center;
    }

    #consulting-card {
        background: url('../src/images/computers.png') no-repeat center;
    }

    #translation-card {
        background: url('../src/images/computers.png') no-repeat center;
    }

    #marketing-card {
        background: url('../src/images/computers.png') no-repeat center;

    }
}