.login-main {
    background: url("../images/computers.png") no-repeat fixed center;
    padding-top: 120px;
    padding-bottom: 120px;

}


.login-div {
    margin: 10px;
    padding: 30px;
    direction: rtl;
    text-align: right;
    font-family: $main-font;
    font-size: 20px;
    background-color: white;
}

.login-div>h1 {
    font-weight: bold;
    padding: 10px;
    text-align: center;
}


.login-div>p {
    font-weight: bold;
    padding: 10px;
}

.text-box-login {
    font-size: 18px;
}

.login-btn {
    color: $primary;
    background-color: transparent;
    border-color: $primary;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    display: block;
}

.login-btn:hover {
    color: $dark-black;
    border-color: $primary;
    background-color: $primary;
}

.login-btn:focus {
    box-shadow: 0 0 0 0.2rem $primary;
}

.login-btn:active {
    color: white;
    border-color: $dark-black;
    background-color: $primary;
}

.col-centered {
    float: none;
    margin: 0 auto;
}