.signup-main {
    background: url('../src/images/computers.png') no-repeat fixed center;
    padding-top: 120px;
    padding-bottom: 120px;
    background-size: cover;
}

.signup-div {
    margin: 10px;
    padding: 30px;
    direction: rtl;
    text-align: right;
    font-family: $main-font;
    font-size: 20px;
    background-color: rgba($color: #FFFFFF, $alpha: 0.85);
}


.signup-div>h1 {
    font-weight: bold;
    padding: 10px;
    text-align: center;
}


.signup-div>p {
    font-weight: bold;
}


.text-box-signup {
    font-size: 18px;
    margin-bottom: 30px;
}


.signup-btn {
    color: black;
    background-color: $primary;
    border-color: $primary;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    display: block;
}

.signup-btn:hover {
    color: $dark-black;
    border-color: $secondary-light;
    background-color: $secondary-light;
}

.signup-btn:focus {
    box-shadow: 0 0 0 0.2rem $primary;
}

.signup-btn:active {
    color: white;
    border-color: $dark-black;
    background-color: $primary;
}


.col-centered {
    float: none;
    margin: 0 auto;
}