.dashboard-main {
    direction: rtl;
    text-align: right;
}

.dashboard-panel {
    background-color: $light-grey;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
}
