.dashboard-main {
    direction: rtl;
    text-align: right;
}

.dashboard-panel {
    background-color: $light-grey;
    margin-left: 63px;
    margin-right: 63px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.withdraw-label {
    color: #17a2b8;
}

.deposit-label {
    color: #28a745;
}