.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-left: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none
}

.bg-light {
    background-color: $primary !important
}

#nav-items {
    direction: rtl;
}

a.bg-light:focus,
a.bg-light:hover,
button.bg-light:focus,
button.bg-light:hover {
    background-color: $primary !important
}

.nav-link {
    color: $dark-black;
}