// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
    height: 100%;
    margin: 0;
}

* {
    font-family: $main-font;
    box-sizing: border-box;
}

a {
    color: $light-black;
}

a:hover,
a:active {
    color: $dark-black;
}

.vr {
    border-right: 2px solid $dark-black;
    height: 100%;
}

.profile-img {
    width: 192px;
    height: 192px;
}