// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$primary: #FFE553;
$dark-black: #1D1D1D;
$light-black: rgb(88, 88, 88);
$light-grey: #E5E5E5;
$dark-grey: #CCCCCC;