// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$primary: rgb(255, 226, 65);
$primary-dark: rgb(235, 199, 0);
$secondary: #FFE553;
$dark-black: #1D1D1D;
$light-black: rgb(88, 88, 88);
$light-grey: rgb(240, 240, 240);
$dark-grey: #CCCCCC;

$main-font: 'Cairo',
sans-serif;