// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

* {
    font-family: $main-font;
}

a {
    color: $light-black;
}

a:hover,
a:active {
    color: $dark-black;
}