// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

a {
    color: $light-black;
}

a:hover,
a:active {
    color: $dark-black;
}